h1{
    text-shadow: 2px 2px 8px rgba(91, 141, 133, 0.486) , 2px 2px 8px rgba(145, 179, 102, 0.582);
}
h1{
    color:rgb(109, 101, 78);
    }
h2{
    text-shadow: 2px 2px 9px rgba(28, 233, 199, 0.486);
}
